Repository NVIDIA/cutlass, pull requests merged in 2023-02, with the labels that each got.

#773 xFormer updates to fMHA FW
  examples/41_fused_multi_head_attention/debug_utils.h
  examples/41_fused_multi_head_attention/fmha_grouped.h
  examples/41_fused_multi_head_attention/fused_multihead_attention_fixed_seqlen.cu
  examples/41_fused_multi_head_attention/fused_multihead_attention_variable_seqlen.cu
  examples/41_fused_multi_head_attention/gemm_kernel_utils.h
  examples/41_fused_multi_head_attention/iterators/epilogue_predicated_tile_iterator.h
  examples/41_fused_multi_head_attention/iterators/transpose_warp_iterator.h
  examples/41_fused_multi_head_attention/iterators/warp_iterator_from_smem.h
  examples/41_fused_multi_head_attention/kernel_forward.h
  examples/41_fused_multi_head_attention/mma_from_smem.h
Labels: feature request

#796 Fix type bug in conv2d/gemm with broadcast
  include/cutlass/conv/kernel/default_conv2d_fprop_with_broadcast.h
  include/cutlass/epilogue/thread/linear_combination_bias_elementwise.h
  include/cutlass/epilogue/thread/linear_combination_bias_relu.h
  include/cutlass/epilogue/thread/linear_combination_residual_block.h
  include/cutlass/gemm/kernel/default_gemm_with_broadcast.h
  test/unit/conv/device/conv2d_with_broadcast_testbed.h
  test/unit/gemm/device/testbed_gemm_with_broadcast.h
Labels: bug

#790 Extend DualGemm: support batched mode + decouple B0/B1 layouts
  examples/45_dual_gemm/device/dual_gemm.h
  examples/45_dual_gemm/dual_gemm.cu
  examples/45_dual_gemm/dual_gemm_common.h
  examples/45_dual_gemm/dual_gemm_run.h
  examples/45_dual_gemm/kernel/dual_gemm.h
  examples/45_dual_gemm/threadblock/dual_mma_base.h
  examples/45_dual_gemm/threadblock/dual_mma_multistage.h
Labels: feature request

#791 Fix some typos
  media/docs/cutlass_3x_backwards_compatibility.md
  media/docs/efficient_gemm.md
Labels: documentation

#812 Changes to iterators to support s8 gemm with f16 outputs
  include/cutlass/epilogue/threadblock/default_epilogue_tensor_op.h
  include/cutlass/epilogue/threadblock/shared_load_iterator_mixed.h
  include/cutlass/epilogue/warp/tile_iterator_tensor_op_mixed.h
Labels: feature request
